<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mini Amazon</title>
        <meta name="description" content="Duke CompSci 316 Course Project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Mini-Amazon</h1>
        <a href="{{ url_for('users.logout') }}">Log out</a>
        <p>Welcome to mini Amazon. Here, you'll see our selection of products and the products you've purchased from us before:</p>
        
        <section class="container">
            <div class="left-half">
                <h3>Available Products:</h3>
                <p>{{avail_products}}</p>
            </div>
            <div class="right-half">
                <h3>Past Purchases:</h3>
                <p>{{purchased_history}}</p>
            </div>
          </section>

        <script src="" async defer></script>
    </body>
</html>