{% extends "base.html" %}

{% block content %}

<h2>Products for sale:</h2>
<table class="container">
  <tr>
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Price</th>
  </tr>
  {% for product in avail_products%}
  <tr>
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
  </tr>
  {% endfor %}
</table>

{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class="container">
  <tr>
    <th>Purchase ID</th>
    <th>Product ID</th>
    <th>Price</th>
  </tr>
  {% for purchase in purchase_history%}
  <tr>
    <td>{{purchase.id}}</td>
    <td>{{purchase.pid}}</td>
    <td>{{purchase.time_purchased}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
